<h1>Nouvel utilisateur</h1>

<%= form_for @user do |f| %></br>
<%= f.label :first_name, "Ton prenom"%></br>
<%= f.text_field :first_name%></br>

<%= f.label :last_name, "ton nom"%></br>
<%= f.text_field :last_name%></br>

<%= f.label :email, "Ton mail"%></br>
<%= f.email_field :email %></br>

<%= f.label :age, "Ton age"%></br>
<%= f.number_field :age %></br>

<%= f.label :password, "mot de passe "%></br>
<%= f.text_field :password %></br>

<%= f.submit "Enregistre toi" %></br>
<% end %>
